<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <h1>{{titulo}}</h1>
    <table>
        <thead>
            <tr>
                <td>Descrição</td>
                <td>Qtd</td>
                <td>Valor</td>
            </tr>
        </thead>
        {% for produto in produtos %}
        <tbody>
            <tr>
                <td>{{produto.descricao}}</td>
                <td>{{produto.qtd}}</td>
                <td>{{produto.valor}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>