<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='list.css') }}">
</head>
<body>
    <form  method="POST">
        <table class="table table-striped mb-0">
            <thead style="background-color: #002d72;">
            <tr>
                <th scope="col">Descriçao</th>
                <th scope="col">QTD</th>
                <th scope="col">Valor</th>
            </tr>
            </thead>
            {% for produto in produtos %}
            <tbody>
            <tr>
                <td>
                    {{id}}
                    {{produto.descricao}}
                </td>
                <td>
                    {{produto.quantidade}}
                </td>
                <td>
                    {{produto.valor}}
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
        <input type="text">
    </form>
</body>
</html>