<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static//table.css">
    <title>Produtos</title>
</head>
<body>
    <h1>{{titulo}}</h1>
    <table class="table">
        <thead>
            <tr>
                <td>Código</td>
                <td>Descrição</td>
                <td>Qtd</td>
                <td>Valor</td>
            </tr>
        </thead>
        <tbody>
            {% for row in produtos %}
                <tr>
                    {% for prod in row %}
                        <td>{{ prod }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
        {% for row in descricao %}
            {% for desc in row %}
                <span>{{ desc }}</span> <br>
            {% endfor %}
        {% endfor %}
    <br>
    <a href="{{url_for('estoque')}}">Adicionar Produto</a>
</body>
</html>